.padreColumnasFooter{
    background: #212529;
    padding: 1% 0% 1% 0%;
    display: flex;
    justify-content:center;
}
.columnaFooter{
    color: rgba(255, 255, 255, 0.6) !important;
    width: 225px;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.columnaFooter a:hover{
    color: white;
}
.tituloFooter{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: var(--color-primario) !important;
    font-size: 25px;
}
.redesFooter{
    margin-right: 2px;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redesFooter i{
    font-weight: bold;
}
.redesFooter:hover{
    background-color: black !important;
}
.redesFooter:hover i{
    color: white;
}
.cajaDesarrollador{
    background: black;
    color:white;
    padding: 5px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.cajaDesarrollador span{
    font-family: 'Tomorrow', sans-serif;
    font-weight:bold
}
.cajaDesarrollador a{
  color: white;
}
.cajaDesarrollador strong:hover{
    color: var(--color-primario) !important;
}
@media (max-width:1200px){ 
    .padreColumnasFooter{
        padding: 3% 5% 2% 3%;
        display: flex;
        flex-direction: column;
    }
    .columnaFooter{
        width: 100%;
        padding-left: 20px;
        color: rgba(255, 255, 255, 0.6) !important;
    }
}
@media (max-width:800px){ 
  .padreColumnasFooter {
    padding-left: 7%;
    padding-bottom: 35px;
  }
  .redesFooter{
        margin-right: 5px;
        
    }
}
@media(max-width:600px){ 
    .columnaFooter{
        align-items: start;
        padding-left: 0px;
    }
}